body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.squares-container {
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
}
.menu-board-container {
    display: flex;
}
.row {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.column {
    flex-basis: 100%;
}